.container {
    flex: 1;
    background-color: '#36485f';
    padding-left: 40;
    padding-right: 40;
    padding-top: 40
}

.header {
    margin-bottom: 20;
    align-self: stretch
}

.details {
    margin-bottom: 15
}

.headerText {
    font-size: 24;
    color: '#fff';
    border-bottom-color: '#199187';
    padding-bottom: 10;
    border-bottom-width: 1
}

.titleText {
    font-weight: 'bold';
    color: 'yellow';
    font-size: 15;
    margin-bottom: 10
}

.textinput {
    align-self: 'stretch';
    width: 200;
    height:40;
    background-color: 'white';
    color: 'black';
    margin-bottom: 20;
    border-bottom-color: '#f8f8f8';
    border-bottom-width: 1
}

.buttons {
    align-self: stretch;
    align-items: center;
    padding: 10;
    width: 150;
    background-color: blue;
    color: white;
    margin-top: 5;
    margin-bottom: 20;
}